<div class="jumbotron text-center">
  <h1 class="uppercase">Welcome to our store!</h1>
  <p>The Largest Online Digital Book Store</p>
  <%= link_to "Books", books_path, class: "btn btn-primary btn-block" %>
  <%= link_to "Sign Up", new_user_registration_path, class: "btn btn-primary btn-block" %>
</div>

<div class="row">
	<%= render @books %>
</div>